# ===== Python =====
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# IDEs / Editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
